---
import BlogBaseLayout from '../layouts/BlogBaseLayout.astro'
---

<BlogBaseLayout title='Blog'>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, culpa, quia
      omnis animi perferendis eaque expedita ratione aspernatur officiis, eos
      modi porro quod consequatur assumenda quas qui harum rem repellendus.
    </p>
  </main>
</BlogBaseLayout>
