---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <header
    class='w-full h-20 flex flex-col justify-center items-center fixed bg-customDarkBg1 text-white'
  >
    <nav class='w-11/12 flex justify-between items-center relative'>
      <div>
        <a href='/' class='flex'>
          <img src='/favicon.svg' alt='Astro Logo' width='20' height='20' />
          <span class='ml-2'>FR.</span>
        </a>
      </div>
      <ul class='flex gap-5'>
        <li>
          <a href='/' class='py-2'>Home</a>
        </li>
        <li>
          <a href='#about' class='py-2'>About</a>
        </li>
        <li>
          <a href='#projects' class='py-2'>Projects</a>
        </li>
        <li>
          <a href='#blog' class='py-2'>Blog</a>
        </li>
      </ul>
    </nav>
  </header>
  <main></main>
  <footer></footer>
</Layout>
