---
import Navbar from '../components/Navbar.astro'
import Breadcrumb from '../components/Breadcrumb.astro'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <Breadcrumb title='Our Blog' />
    <div
      class='container flex flex-row content-center items-start pt-8 pb-16 px-0 mx-auto gap-12'
    >
      <aside
        class='box-border flex flex-col items-start p-6 gap-8 border border-blue-200 rounded-lg w-1/6'
      >
        <ul class='flex flex-col items-start p-0 gap-4'>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
        </ul>
        <ul class='flex flex-col items-start p-0 gap-4'>
          <span class='flex items-center text-base font-medium text-gray-900'
            >Others</span
          >
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
          <li class='flex flex-row items-center p-0 gap-2.5 rounded-lg'>
            <a
              href='#'
              class='flex items-center text-base font-medium text-gray-900'
            >
              <svg
                aria-hidden='true'
                class='w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                  d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'></path>
              </svg>
              <span class='ml-3'>Dashboard</span>
            </a>
          </li>
        </ul>
      </aside>
      <section class='w-4/6'><slot /></section>
      <aside class='w-1/6 flex flex-col items-start p-0 gap-8'>
        <div
          class='box-border flex flex-col items-start p-5 gap-6 border border-gray-200 rounded-lg'
        >
          <div class='relative'>
            <div
              class='flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none'
            >
              <svg
                aria-hidden='true'
                class='w-5 h-5 text-gray-500'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'></path>
              </svg>
            </div>
            <input
              type='search'
              id='search'
              class='block px-4 py-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 placeholder:text-sm placeholder:leading-tight placeholder:font-normal placeholder:text-gray-500'
              placeholder='Search'
              required
            />
          </div>
          <span class='uppercase text-sm font-bold text-gray-900'
            >Recomended topics</span
          >
          <div class='flex flex-col items-start p-0 gap-4'>
            <div class='flex flex-row items-start p-0'>
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Technology</span
              >
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Money</span
              >
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Art</span
              >
            </div>
            <div class='flex flex-row items-start p-0 gap-4'>
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Productivity</span
              >
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Psichology</span
              >
            </div>
            <div class='flex flex-row items-start p-0 gap-4'>
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Design</span
              >
              <span
                class='bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded'
                >Mindfulness</span
              >
            </div>
          </div>
        </div>
        <ul class='flex flex-col items-start p-5 gap-6 bg-gray-50 rounded-lg'>
          <li>
            <span class='uppercase text-sm font-bold text-gray-900'>
              Who to follow
            </span>
          </li>
          <li class='flex felx-col items-start p-0 gap-4'>
            <div class='flex flex-row items-start p-0 gap-2.5 rounded-lg'>
              <img
                src='https://img.icons8.com/office/344/circled-user-female-skin-type-4.png'
                alt=''
                class='h-6 w-6 rounded-full'
              />
              <div class='flex flex-col items-start p-0 gap-px'>
                <span
                  class='leading-tight text-base font-semibold text-gray-900'
                  >Midudev</span
                >
                <p class='text-sm font-normal text-gray-500'>
                  Paula Davis is the founder of the Stress...
                </p>
              </div>
              <button
                class='box-border flex flex-row justify-center items-center px-3 py-2 border rounded-lg font-xs font-medium text-gray-900 border-gray-200 hover:bg-gray-100'
                >Follow</button
              >
            </div>
          </li>
          <li class='flex felx-col items-start p-0 gap-4'>
            <div class='flex flex-row items-start p-0 gap-2.5 rounded-lg'>
              <img
                src='https://img.icons8.com/office/344/circled-user-female-skin-type-4.png'
                alt=''
                class='h-6 w-6 rounded-full'
              />
              <div class='flex flex-col items-start p-0 gap-px'>
                <span
                  class='leading-tight text-base font-semibold text-gray-900'
                  >Midudev</span
                >
                <p class='text-sm font-normal text-gray-500'>
                  Paula Davis is the founder of the Stress...
                </p>
              </div>
              <button
                class='box-border flex flex-row justify-center items-center px-3 py-2 border rounded-lg font-xs font-medium text-gray-900 border-gray-200 hover:bg-gray-100'
                >Follow</button
              >
            </div>
          </li>
          <li class='flex felx-col items-start p-0 gap-4'>
            <div class='flex flex-row items-start p-0 gap-2.5 rounded-lg'>
              <img
                src='https://img.icons8.com/office/344/circled-user-female-skin-type-4.png'
                alt=''
                class='h-6 w-6 rounded-full'
              />
              <div class='flex flex-col items-start p-0 gap-px'>
                <span
                  class='leading-tight text-base font-semibold text-gray-900'
                  >Midudev</span
                >
                <p class='text-sm font-normal text-gray-500'>
                  Paula Davis is the founder of the Stress...
                </p>
              </div>
              <button
                class='box-border flex flex-row justify-center items-center px-3 py-2 border rounded-lg font-xs font-medium text-gray-900 border-gray-200 hover:bg-gray-100'
                >Follow</button
              >
            </div>
          </li>
        </ul>
      </aside>
    </div>

    <footer>Blog Base layout</footer>
  </body>
</html>
